@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    margin-top: 20px;
    background-color: #e6ffff ;
}

/* Navbar */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 1000;
}

.container{
    max-width: 90rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
    margin-top: 16px;
}

.logo{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 3rem;
}
.logo1{
    color: black;
    height: 70px;
    width: 90px;
}

.logo span{
    font-weight: 300;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid black;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: black;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: black;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: black;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: black;
    color: #3498db;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #3498db;
    color: black;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: black;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #3498db;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: black;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
        margin-top: 20px;
    }

    #check{
        display: block;
    }
    .logo-container h3 {
        font-size: 19px;
        width: 100%;
        line-height: 1.05;
    }
    .nav-btn{
        position: fixed;
        height: 100%;
        top: 3rem;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        float: center;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
        margin-top: 70px;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
        background: black;
        
    }

    .nav-link > a{
        line-height: 0.5;
        padding: 1.3rem 1.7rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: honeydew;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color:#69bde7;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #69bde7;
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .dropdown-link > a{
        background-color: transparent;
        color: black;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: #50a9d6;
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: #3a91bd;
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #50a9d6;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    
}

/* VISION AND MOTO */


.vision-moto{
    display: block;
    position: relative;
    margin-top: 50px;
}

.vision-moto-pics{
    position: absolute;
    left: -5px;
}

.back-border{
    background-color: #2166AA;
    padding: 0;
    width: 913px;
    margin-top: 0;
    height: 573px;
    clip-path: polygon(0 0 , 864px 0px , 864px 569px, 0 569px , 0px 0px , 864px 0px , 909px 284px , 864px 567px);
}

.vision-moto-pics #carouselExampleIndicators{
   
    width: 895px;
    height: 565px;
    clip-path: polygon(0 0 , 860px 0px , 860px 565px, 0 565px , 0px 0px , 860px 0px , 905px 282px , 860px 565px);
}

.vision-moto-pics .carousel-item img{
     margin: 4px;
    width: 905px;
    height: 575px;
}

.vision-moto-pics #carouselExampleIndicators li{
    width: 13px;
    height: 13px;
    background-color: #2166AA;
    border-radius: 50%;
}

.vision-moto-pointers{
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #2166AA;
    width: 796px;
    height: 274px;
    clip-path: polygon(80px 0 , 796px 0 , 796px 274px,80px 273px ,0 137px);
}

.vision-moto-pointers-text{
    padding-left: 70px;
    background-color: white;
    margin: 8px;
    width: 788px;
    height: 266px;
    clip-path: polygon(77px 0 , 788px 0 , 787px 258px , 80px 258px , 4px 130px);
    line-height: 45px;
}

.vision-moto-pointers-text .bullet div{
    
    margin: 10px 20% 0 50%;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #37CAF0;
    color: white;
}

.vision-moto-pointers-text .vm-point{
    color: rgba(0,0,0,0.6);
    margin: 18px 0 ;
    font-size: 16px;
    line-height: 17px;
}

.vision-moto-pointers-text .row{
    width: 700px;
    height: 60px;
}

.vision-moto-head{
    position: absolute;
    padding-left: 70px;
    right: 0;
    top: 313px;
    width: 790px;
    height: 78px;
    font-size: 40px;
    font-weight: 500;
    background-color: #EB9661;
    color: #F2DF58;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFF500;
    clip-path: polygon(0 0 , 790px 0 , 790px 78px , 55px 78px);
}

.vision-moto-head p{
    margin-top: 7px;
}

.vision-moto-deco{
    position: absolute;
    right: 0;
    top: 384px;
    width: 610px;
    height: 90px;
    background-color: #2166AA;
    clip-path: polygon(0 0 , 610px 0 , 610px 90px , 65px 90px);
}

.vision-moto-arrow{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 464px;
    right: 486px;
}

.vision-moto-arrow div{
    width: 13px;
    height: 50px;
    background-color: #2166AA;
    transform: skew(38deg);
    position: absolute;
    top: 9px;
    right: 27px;
}

.vision-moto-arrow svg {
    fill: #000000;
    transform: rotate(50deg);
    position: absolute;
    bottom: 9px;
    right: -17px;
}

.white-break{
    position: absolute;
    right: 0;
    top: 40px;
    width: 300px;
    height: 10px;
    background-color: white;
    clip-path: polygon(0 0 , 300px 0 , 300px 10px , 15px 10px);
}

/* FOUNDERS */

.founder-box{
    width: 950px;
    height: 415px;
    position: relative;
    top: 45rem;
    margin: 2% auto;
    background-color: white;
}

.founder-section{
    height: 415px;
}

.co-founder{
    border-radius: 110px;
    width: 373px;
    height: 161px;
    background-color: rgba(191,255,255,0.6);
    margin: 7% 0 7% 10%;
}

.co-founder-pic img{
    width: 135px;
    height: 135px;
    border-radius: 100%;
    margin: 7.8% auto;
}

.co-text{
    font-family: Helvetica Neue;
    margin: 11.7% auto;
    line-height: 16px;
}

.late{
    margin: 15.7% auto;
}

.co-text p{
    font-size: 16px;
    color: #4a4b4b;
    margin: 0;
}

.co-text span{
    font-size: 14px;
    color: #686868;
}

.coordinator{
    border-radius: 150px;
    width: 440px;
    height: 275px;
    background-color: rgba(191,255,255,0.6);
    margin-top: 15%;
}

.coordinator-pic img{
    width: 240px;
    height: 240px; 
    border-radius: 100%;
    margin: 10% auto;
}

.coordinator .co-text{
    padding-left: 19%;
    padding-top: 10%;
}

.founder-box svg{
    position: absolute;
}

.founder-box .down-svg{
    bottom: 0;
    display: none;
}

/* CARDS */

.work-card{
    margin-top: 50rem;
    padding-left: 4rem;
    width: 100%;
    background: url(scribble.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.main-card{
    width: 550px;
    height: 455px;
    position : relative;
    margin-top: 70px;
    margin-left: 50px;
}

.main-card .card-head{
    background-color: #EB9661;
    position: absolute;
    top: 27px;
    right: 200px;
    width: 350px;
    clip-path: polygon(0 0 ,300px 0 ,350px 50px , 0 50px );
}

.card-head p{
    color: White;
    font-size: 2rem;
}

.main-card .anker{
    width: 90px;
    height: 90px;
    border-bottom: 25px solid #EB9661;
    border-right: 25px solid #EB9661;
    border-left: 25px solid transparent;
    border-top: 25px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}


.main-card img{
    width: 455px;
    height: 455px;
    position: absolute;
    right: 0;
}


/* RESPONSIVENESS OF CONTANT */

@media (max-width: 1400px){
    .main-card{
        margin-left: 70px;
    }

}

@media (max-width: 1274px){
    .main-card:nth-of-type(2n+1){
        margin-left: 140px;
    }
   
    .main-card:nth-of-type(2n){
        margin-left: 220px;
    }
}

@media (max-width: 1140px){
    .main-card{
        padding: 60px auto
    }
}

@media (max-width: 992px) {
    .founder-box{
        width: 100%;
    }

    .coordinator{
        margin-left: 13%;
    }
}

@media (max-width: 917px) {
    .back-border{
        width: 101%;
        height: 573px;
        clip-path: polygon(0 0 , 101% 0px , 101% 569px, 0 569px );
    }
    
    .vision-moto-pics #carouselExampleIndicators{
        width: 101%;
        height: 565px;
        clip-path: polygon(0 0 , 101% 0px , 101% 565px, 0 565px );
    }
}


@media (max-width: 845px) { 
    .co-founder{
        margin-left: 3px;
    }
}

@media (max-width: 806px) {
    .work-card{
        padding-left: 1rem;
    }
    .main-card .card-head{
        top: 27px;
        right: 150px;
        width: 300px;
        clip-path: polygon(0 0 ,250px 0 ,300px 40px , 0 40px );
    }
    
    .card-head p{
        font-size: 1.5rem;
    }

    .main-card {
        width: 355px;
        height: 355px;
    }

    .main-card img {
        width: 355px;
        height: 355px;
    }

    .main-card .anker {
        width: 60px;
        height: 60px;
        border-bottom: 15px solid #EB9661;
        border-right: 15px solid #EB9661;
        border-left: 15px solid transparent;
        border-top: 15px solid transparent;
    }    
}

@media (max-width: 768px) {
    .vision-moto-pointers-text .row{
        padding-left: 50px;
    }

    .co-founder{
        margin: 20px auto 0 auto;
    }

    .coordinator{
        margin: 20px auto ;
    }

    .founder-box{
        height: auto;
    }

    .founder-box .down-svg{
        bottom: 0;
        display: block;
    }
}

@media (max-width: 725px){
    .vision-moto-pointers-text .row{
        width: 100%;
        padding-left: 150px;
    }

    .white-break , .vision-moto-deco , .vision-moto-arrow{
        display: none;
    }

    .vision-moto-head{
        padding: 0;
        text-align: center;
        width: 100%;
        clip-path: polygon(0 0 , 100% 0 , 100% 78px , 0 78px);
    }

}

@media (max-width: 637px){
    .work-card .main-card{
        margin-left: 200px;
    }

    .main-card:nth-of-type(2n) {
        margin-right: 220px;
        margin-left: 85px;
    }

    .main-card:nth-of-type(2n) .card-head{
        right: -50px;
        width: 280px;
        clip-path: polygon(50px 0,280px 0 ,280px 40px , 0 40px );
    }
    
    .main-card:nth-of-type(2n) .card-head P{
        text-align: right;
    }

    .main-card .anker{
        display: none;
    }
}


@media (max-width: 550px){
    .vision-moto-pointers-text .row{
        width: 100%;
        padding-left: 200px;
        margin: 0;
    }

}

/*footer*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.neat{
    width: 100%;
    height: 400px;
    position: relative;
    background-color:  #e6ffff;
    
}

h2{
    color: #198CBF; 
    margin-left: 7%;
    padding-top: 12%;
    position: relative;
    z-index: 3;
}

body{
    font-family: 'Roboto', sans-serif;
}

h4{
    color: #198CBF;
    font-size: 20px;
}

.railway{
    /*  transform: translateY(-50%); */
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: #99ddff;
    position: relative;
    top:50%;
    z-index: 0; 
}

.train{
    max-width: 800px;
    background: white;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-top: 2%; 
    margin-left: 100px;
    position: absolute; 
    z-index: 2; 
    height: 400px;
    box-shadow: 4px 4px 2px rgba(0,0,0, 0.1),
    -4px -4px 2px rgba(0,0,0, 0.1);
}

.train-tik{
    margin-right: 17px;
    margin-left: 17px;
    margin-bottom: 7px;
    opacity: 0.5;
    border-radius:20px;
    padding: 15px;
    width: 300px;
    box-shadow: 4px 4px 2px rgba(0,0,0, 0.1),
                -4px -4px 2px rgba(0,0,0, 0.1);
    border: 1px solid rgba(0,0,0,0.2);
}

.canvas{
    width: 100%;
    height: 400px;
    background-color: #99ddff;
    position: absolute;
    top:0;
    z-index: -1;
    left: 0;
    transform: skewY(-10deg);
    transform-origin: bottom left;   
}

.con{
    margin-top: 3%;
    float: right;
    width: 300px;
    
}

.ray{
    margin-top:3%;
    float: right;
    width: 200px; 
}

textarea{
    height: 150px;
}

a:link {
    text-decoration: none;
    color: #198CBF;
  }

 a:visited{
    color:#003399;
 } 

.btn{
    margin-top: 12px;
    margin-left: 17px;
    font-family: arial;
    font-size: 30px;
    width: 300px;
    height: 60px;
    border-radius: 80px;
    line-height: 60px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    display: block;
    text-decoration: none;
    color: #1da0d8;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: .3s;
    box-shadow: 4px 4px 2px rgba(0,0,0, 0.05),
                -4px -4px 2px rgba(0,0,0, 0.05);
}

.btn:before {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   background: #5DAED2;
   top: -100%;
   left: 0;
   z-index: -1;
   transition: .3s;
}

.btn:after{
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   background:  #5DAED2;
   top: -100%;
   left: 0;
   z-index: -1;
   transition: .3s; 
}

.btn:hover{
    color: #4f8da8 ;  
}

.btn:hover:before{
    top: 0;
}

.btn:hover:after{
    top: 0;
}

@media screen and (max-width:320px){
    h2{
       padding-top: 12%;
     
    }
    .train{
        margin-left: 50px;
        margin-bottom: 5%;

    }  
    .con{
        margin-left: 30px;
        margin-top: 33%;
        float: left;
        width: 200px;   
    }
    
    .ray{
        margin-left: 30px;
        margin-top:33%;
        float: left;
        width: 100px; 
    } 
}

@media screen and (min-width:320px) and (max-width:640px) {
    h2{
        padding-top: 12% ; 
    }
    .train{
        margin-left: 50px;
        margin-bottom: 10%;
    } 
    .con{
        margin-left: 30px;
        margin-top: 33%;
        float: left;
        width: 200px;
        
    }
    
    .ray{
        margin-left: 30px;
        margin-top:33%;
        float: left;
        width: 100px; 
    } 
}

@media only screen (min-width: 640px) and (max-width: 768px){
    h2{
        padding-top: 12%;
        position: relative;
    }
    .train{
        margin-left: 30px;
        margin-bottom: 100px;
    } 
    .con{
        margin-left: 30px;
        margin-top: 27%;
        float: left;
        width: 200px;
        
    }
    
    .ray{
        margin-left: 30px;
        margin-top: 27%;
        float: left;
        width: 100px; 
    }
}

 @media only screen and (min-width: 768px) and (max-width:960px){
    h2{
        margin-left: 7%;
        margin-bottom: 2%;
        padding-top: 12%;
        padding-bottom: 2%;
        position: relative;
    }
    .train{
        margin-bottom: 100px;
        margin-left: 30px;
    } 
    .con{
        margin-left: 30px;
        margin-top: 27%;
        float: left;
        width: 200px;
        
    }
    
    .ray{
        margin-left: 30px;
        margin-top:27%;
        float: left;
        width: 100px; 
    }
}
 
